@use '../../foundation/variables' as *;

.u-icon {
  &_link:before {
    content: "\e901";
  }

  &_note:before {
    content: "\e902";
  }

  &_arrow:before {
    content: "\e903";
  }

  &_line:before {
    content: "\e900";
    color: #00c300;
    background: radial-gradient(#fff 60%, transparent 60%);
  }

  &_instagram:before {
    content: "\ea92";
  }

  &_twitter:before {
    content: "\ea96";
  }
}